.footer {
    background-color: #2d6a43;
    color           : #FFF;
    padding         : 2em 1em;
}

.footer-box {
    display        : flex;
    flex-direction : column;
    justify-content: flex-start; /* Changed from center to start for consistency */
    align-items    : center;
    padding        : 1rem 2rem;
    text-align     : center;
    height         : 100%;
}

.footer-box-img {
    width        : 60px;
    height       : 60px;
    object-fit   : contain;
    margin-bottom: 1rem;
}

.footer h4 {

    margin-bottom: 1.5rem;
}

.footer-text {

    line-height: 1.5;
}

/************************************************************* RESPONSIVE SETTINGS */
@media (max-width: 768px) {
    .footer {
        font-size: 12px;
    }

}