@font-face {
    font-family:            RobotoSlab-Regular;
    src:                    url('static/fonts/RobotoSlab-Regular.woff2') format('woff2');
}

@font-face {
    font-family:            RobotoSlab-Bold;
    src:                    url('static/fonts/RobotoSlab-Bold.woff2') format('woff2');
}

/*                                                      GENERAL STYLES */
html {
    background-color:       #d8d0d0;
}

body {
    margin:                 0 auto;
    height:                 100%;
    max-width:              1200px;
    background-color:       #f5efe7;
    font-family:            "RobotoSlab-Regular";
}

p {
    margin:                 0;
    padding:                0;
}

ul {
    list-style-type:        none;
    margin:                 0;
    padding:                0;
} 

.wp-block-group {
    margin:                 0 auto;
    display:                flex;
    justify-content:        center;
    align-items:            center;
}

.wp-block-columns {
    display:                flex;
    align-items:            stretch; /* Ensures all columns match height */
}

.wp-block-column {
    display:                flex;
    flex-direction:         column;
}

.wp-block-heading {
    margin-top:             30px;
    margin-bottom:          20px;
    text-align:             center;
}

.wp-block-list {
    margin:                 0;
    padding:                0;
    list-style-type:        none;
}

/*                                                      GENERAL NONE GUTENBERG BLOCKS */
.btn-basic {
    color:                  #000;
    padding:                10px;
    transition:             color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    text-decoration:        none;
    border-radius:          5px;
    border:                 1px solid #000;
    box-shadow:             1px 1px 3px #444444;
}

.btn-basic:hover {
    cursor:                 pointer;
    color:                  #000;
    border:                 1px solid #000;
    box-shadow:             0px 0px 0px #444444; /* less visible shadow */
}

/*                                                      S1 */
/* Tooth Image */
.icon-cover {
    height:                 100px;
    width:                  100px;
    margin:                 0 auto;
    background-size:        contain;
    background-repeat:      no-repeat;
    background-position:    center;
    background-image:       url('static/images/t1.png');
}

/* Staff Image */
.container-cover {
    height:                 400px;
    width:                  100%;
    position:               relative;
    display:                flex;
    flex-direction:         column;
    justify-content:        center;
    align-items:            center;
    text-align:             center;
    overflow:               hidden;
    color:                  #FFF;
    background-size:        cover;
    background-repeat:      no-repeat;
    background-position:    center calc(0% - 20px);
    background-image:       url('static/images/nurses-portrait-hospital.jpg');
}

/* Darken Staff Image - White text more Visible */
.container-cover::before {
    content:                "";
    top:                    0;
    left:                   0;
    width:                  100%;
    height:                 100%;
    z-index:                1;
    position:               absolute;
    background-color:       rgba(0, 0, 0, 0.143);
}

/* Ensure items appear before overlay - Items not darken with staff image */
.container-cover > * {
    z-index:                2;
    position:               relative;
}

/* White Text Shadow - More visible */
.container-cover h1,
.container-cover p,
.container-cover a {
    text-shadow:            1px 1px 2px rgb(0, 0, 0);
}

/* Kampanj Blekning 1500:- */
.btn-cover-container {
    margin:                 10px;
}

.btn-cover {
    text-decoration:        none;
    text-shadow:            1px 1px 1px#000;
    padding:                10px;
    border-radius:          5px;
    border:                 1px solid #FFF;
    color:                  #FFF;
    background-color:       transparent;
    box-shadow:             1px 1px 1px#000000bc;
    transition:             0.3s ease-in-out;
    cursor:                 pointer;
}

.btn-cover:hover {
    color:                  #e3d554;
    text-shadow:            1px 1px 1px#000;
    cursor:                 pointer;
    border:                 1px solid #e3d554;
    box-shadow:             none;
}

/*                                                      S2*/
.column-welcome,
.column-hours {
    display:                flex;
    flex-direction:         column;
    justify-content:        flex-start;
    text-align:             center;
    margin-top:             20px;
    padding:                0 50px;
}

/*                                     COLUMN-WELCOME | S2 */
.column-welcome {
    font-size: 13px;
}

/* Boka tid */
.btn-welcome-container {
    margin:                 25px;
}

/*                                       COLUMN-HOURS | S2 */
.column-hours {
    font-size:              15px;
}

.container-hours{
    text-align:             center;
    display:                flex;
    justify-content:        center;
    gap:                    20px;
}

.ul-hours {
    list-style:             none;
    padding:                0;
    margin:                 0;
    text-align:             left;
}

.phone-hours {
    margin-top:             20px;
}

.info-text {
    margin-top:             20px;
}

/*                                                      S3*/
.column-staff,
.column-treatments {
    display:                flex;
    flex-direction:         column;
    justify-content:        flex-start;
    text-align:             center;
    padding:                0 50px;
}

/*                                       COLUMN-STAFF | S3 */
.column-staff {
    height:                 400px;
}

.img-staff {
    width:                  100%;
    height:                 400px;
    position:               relative;
    display:                flex;
    flex-direction:         column;
    justify-content:        center;
    align-items:            center;
    text-align:             center;
    background-size:        cover;
    background-repeat:      no-repeat;
    background-position:    center;
    background-image:       url('static/images/p5.png');
}

/*                                                      S4 | Common Styles for Columns */
.s4 {
    margin-top:             20px;
}

.column-s4 {
    display:                flex;
    flex-direction:         column;
    justify-content:        flex-start;
    text-align:             center;
    padding:                20px 50px;
    height:                 300px; /* Ensure it can grow to full height */
}

.heading-s4 {
    margin:                 10px;
}

/* Button config for all 3 columns*/
.btn-s4-container {
    margin-top:             auto; /* Push to bottom of flex column */
    padding-top:            10px;
}

/* Icon settings for all 3 columns */
.icon-about,
.icon-contact,
.icon-vardgivare {
    height:                 60px;
    width:                  60px;
    display:                flex;
    background-size:        contain;
    background-repeat:      no-repeat;
    margin:                 0 auto;
}

/* Icon image for each column */
.icon-about {
    background-image:       url('static/images/friends-2.png');
}

.icon-vardgivare {
    background-image:       url('static/images/star-1.png');
}

.icon-contact {
    background-image:       url('static/images/phone.png');
}

/* Buttons for all 3 columns */
.btn-s4 {
    color:                  #FFF;
    padding:                10px;
    transition:             0.3s ease-in-out;
    text-decoration:        none;
    text-shadow:            1px 1px 2px rgb(0, 0, 0);
    border-radius:          5px;
    border:                 1px solid #FFF;
    box-shadow:             1px 1px 2px#000000bc;
    background-color:       #2d6a43;
}

.btn-s4:hover {
    cursor:                 pointer;
    color:                  #FFF;
    border:                 1px solid #ebe5de;
    text-shadow:            NONE;
    box-shadow:             none;
}

/*                                                      RESPONSIVE SETTINGS */
@media (max-width: 782px) {
    /* S4 - Button locations on small screens */
    .wp-block-columns:not(.is-not-stacked-on-mobile) {
        flex-direction: column !important;
    }
}
