{% extends 'base.html' %}
{% load static %}

{% block title %} Trelleborgs Tand & Implantatklinik {% endblock %}

{% block content %}

<!-- SECTION-1 | WP-BLOCK-COVER -->
<section class="wp-block-group s1">
    <div class="wp-block-cover container-cover">
        <div class="wp-block-image icon-cover"></div>
        <p>Välkommen till</p>
        <h1 class="wp-block-heading">Trelleborgs Tand och Implantatklinik<br>- Skräddarsydd tandvård</h1>
        <div class="wp-block-buttons btn-cover-container">
            <a class="wp-block-button btn-cover" href="#">Kampanj Blekning 1500:-</a>
        </div>
    </div>
</section>


<!-- SECTION-2 | COLUMN-WELLCOME, COLUMN-HOURS -->
<section class="wp-block-group s2">
    <div class="wp-block-columns">

        <!-- column-welcome -->
        <div class="wp-block-column column-welcome">
            <h3 class="wp-block-heading">Trelleborgs Tand & Implantatklinik</h3>
                Välkommen till Trelleborgs Tand och Implantatklinik! 
            <div style="height: 10px;"></div>
                Vi är en toppmodern nyligen renoverad tandvårdsklinik en liten bit norr om centrum i Trelleborg.
            <div style="height: 10px;"></div>
                Vi tar emot nya patienter och erbjuder allmäntandvård, estetisk tandvård, röntgenundersökningar och implantatbehandlingar.
            <div style="height: 10px;"></div>
                Här arbetar tandläkare Anders Wagner och Jessica Ralvert, tandhygienist Melanie Johansson och tandsköterskorna Marie Mårtensson, Titti Bengtsson och Petra Gahne.
            
            <div class="btn-welcome-container wp-block-buttons">
                <a class="btn-basic wp-block-button" href="#">BOKA TID</a>
            </div>
        </div>

        <!-- column-hours -->
        <div class="wp-block-column column-hours">
            <h3 class="wp-block-heading">Aktuell information om öppettider</h3>
            <div class="container-hours">
                <ul class="wp-block-list ul-hours">
                    <li>Måndag</li>
                    <li>Tisdag</li>
                    <li>Onsdag</li>
                    <li>Torsdag</li>
                    <li>Fredag</li>
                </ul>
                <ul class="wp-block-list ul-hours">
                    <li>08.00 – 17.30</li>
                    <li>08.00 – 13.30</li>
                    <li>08.00 – 17.30</li>
                    <li>08.00 – 17.30</li>
                    <li>08.00 – 13.00</li>
                </ul>
            </div>

            <p class="wp-block-paragraph phone-hours">( Telefontid: <span>08:00 – 13.00</span> )</p>
            <p class="wp-block-article info-text">Hänvisar till <a href="https://www.1177.se">1177</a> då vi håller stängt.</p>
        </div>

    </div>
</section>

<!-- SECTION-3 | COLUMN-STAFF, COLUMN-TREATMENTS -->
<section class="wp-block-group s3">
    <div class="wp-block-columns">

        <!-- column-staff -->
        <div class="wp-block-column column-staff">
            <div class="img-staff wp-block-image"></div>
        </div>

        <!-- column-treatments -->
        <div class="wp-block-column column-treatments">
            <h3 class="wp-block-heading">Behandlingar</h3>
                Hos oss kan du få hjälp med dina tänder och munhälsa. 
            <div style="height: 10px;"></div>
                På mottagningen utför vi allmäntandvård men vi har också valt att inrikta oss mot estetisk tandvård och implantatbehandlingar (detta kan du läsa mer om i flikarna ovan).
            <div style="height: 10px;"></div>
                Vi har nyligen investerat i en avancerad röntgenutrustning och kan därför erbjuda samma undersökningar som tidigare gjordes på Lasarettet men med en mycket lägre stråldos.
            <div style="height: 10px;"></div>    
                Vi tar gärna emot remisser för implantatinstallationer och röntgenundersökningar. Vi har panorama och CBCT (3D röntgen).
            <div style="height: 10px;"></div>
            <a class="wp-block-button btn-treatments" href="#">Läs mer om våra behandlingar</a>

        </div>

    </div>
</section>

<!-- WP-BLOCK-GROUP 4 - SECTION-4 -->
<section class="wp-block-group s4">
    <div class="wp-block-columns">

        <!-- column-about -->
        <div class="wp-block-column column-s4">
            <img class="icon-about wp-block-image">
            <h3 class="heading-s4 wp-block-heading">Om oss</h3>
                <p>Här arbetar tandläkare Anders Wagner och Jessica Ralvert, tandhygienist Melanie Johansson och tandsköterskorna Marie Mårtensson, Titti Bengtsson och Petra Gahne!</p>
            <div class="wp-block-buttons btn-s4-container">
                <a class="btn-basic wp-block-button" href="#">Läs mer om oss</a>
            </div>
        </div>

        <!-- column-vardgivare -->
        <div class="wp-block-column column-s4">
            <img class="icon-vardgivare wp-block-image" >
            <h3 class="heading-s4 wp-block-heading">För vårdgivare</h3>
                <p>Vi tar emot remisser för röntgen, vi har korta väntetider för både Panorama-röntgen och CBCT. Vi tar även emot remisser för implantatkirurgi.</p>
            <div class="wp-block-buttons btn-s4-container">
                <a class="btn-basic wp-block-button" href="#">Mer för vårdgivare</a>
            </div>
        </div>

        <!-- column-contact-->
        <div class="wp-block-column column-s4">
            <img class="icon-contact wp-block-image"  >
            <h3 class="heading-s4 wp-block-heading">Kontakta oss</h3>
                <p>Vi har öppet måndagar, onsdagar och torsdagar från 08.00 till 17.30. På tisdagar och fredagar har vi öppet 08.00 till 14.00. Du hittar alla våra kontaktuppgifter genom att följa länken nedan.</p>
            <div class="wp-block-buttons btn-s4-container">
                <a class="btn-basic wp-block-button" href="#">Kontakta oss</a>
            </div>
        </div>
  
    </div>
</section>
</body>

{% endblock %}